*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

#head{
    width: 100%;
    height: 10%;
    background-color: rgb(222, 239, 239);
    display: flex;       
    align-items: center;
    position: fixed;
}
.text{
    
       margin: 60px;
       color: rgb(219, 6, 6);
}
#contact{
    margin-left: 50px;
    margin-right: 50px;

}
#login{
    margin-left: 70px;
}
#icon{
    margin-right: 70px;
}
#fakehead{
    width: 100%;
    height: 10%;              
    background-color: transparent;
}
#page1{
    width: 100%;
    height: 90%;
    background-color: white;
    align-items: center;
    justify-content: center;

}
#tittle{
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: rgb(11, 216, 231);
    font-weight: bold;
    padding: 20px;

}
#content{
    width: 100%;
    height: 80%;
    background-color: blue;
    display: flex;
}
#box1{
    height: 100%;
    width: 50%;
    background-color: wheat;
    text-align: center;
    align-items: center;
    justify-items: center;
}
#box2{
    text-align: center;
    height: 100%;
    width: 50%;
    background-color: white;
}
#heading{
    width: 100%;
    height: 10%;
    background-color: rgb(16, 109, 146);
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
#page2{
    width: 100%;
    height: 90%;
    background-color: rgb(246, 174, 30);
    align-items: center;
    justify-items: center;
    padding: 100px;
}
#cont{
    width: 100%;
    height: 90%;
    
    text-align: center;
    align-items: center;
    justify-content: center;
}

#last{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: cyan;
}
